@model IEnumerable<SportClubMVC.Models.Player>

@{
    ViewData["Title"] = "Igraci";
}

<h1>Igraci</h1>

@if (User.IsInRole("Admin")) {
    <p>
        <a asp-action="Create">Dodaj</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Datum rodenja
            </th>
            <th>
                Email
            </th>
            <th>
                Broj mobitela
            </th>
            <th>
                Broj dresa
            </th>
            <th>
                Pozicija
            </th>
            <th>
                Aktivan
            </th>
            <th>
                Tim
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @item.DateOfBirth.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JerseyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin")) {
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a>
                    <text> | </text>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                @if (User.IsInRole("Admin")) {
                    <a asp-action="Delete" asp-route-id="@item.Id">Izbrisi</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
