@model IEnumerable<SportClubMVC.Models.Team>

@{
    ViewData["Title"] = "Timovi";
}

<h1>Timovi</h1>

@if (User.IsInRole("Admin")) {
    <p>
        <a asp-action="Create">Dodaj</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Ime
            </th>
            <th>
                Trener
            </th>
            <th>
                Broj igraca
            </th>
            <th>
                Godina osnivanja
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearFounded)
            </td>
            <td>
                @if (User.IsInRole("Admin")) {
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a>
                    <text> | </text>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                @if (User.IsInRole("Admin")) {
                    <a asp-action="Delete" asp-route-id="@item.Id">Izbrisi</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
